<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Analyse_newss">
        <activity
            android:name=".screens.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Analyse_newss">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.NewsActivity"
            android:exported="false"
            android:label="News"
            android:theme="@style/Theme.Analyse_newss" />
        <activity
            android:name=".screens.AnalyseActivity"
            android:exported="true"
            android:label="Analysis"
            android:theme="@style/Theme.Analyse_newss" />
        <activity
            android:name=".screens.ChatActivity"
            android:exported="false"
            android:label="Chat"
            android:theme="@style/Theme.Analyse_newss" />
        <activity
            android:name=".screens.SavedActivity"
            android:exported="false"
            android:label="Saved Analyses"
            android:theme="@style/Theme.Analyse_newss" />

    </application>

</manifest>